{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <title>Blogs</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='mav'>

        <a class="navbar-brand" id = 'hello' href="{% url 'blog1:landing' %}">Stories</a>
        <button class="navbar-toggler " id = 'hello11'  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog1:after' %}">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/Rahulvvsv">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LinkedIn</a>
            </li>
          </ul>


            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated   %}
              <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog1:logout' %}" >Logout<span class="sr-only">(current)</span></a>
              </li>
              {% endif %}
              <li class="nav-item"   >
                  <a class="nav-link" href="{% url 'blog1:poster' %}">NEW POST</a>

              </li>
              <li class='nav-item'>
                    <a class="nav-link" href="{% url 'blog1:drafts' pk=user.id %}">DRAFTS</a>
              </li>
            </ul>


        </div>

      </nav>
      <div class="container">
        <div class="jumbotron" id='posts'>
            <ol>
          {% for stud in objects.stories.all %}



              <li>
                <form method="post" action="{% url 'blog1:publish' %}">
                          {% csrf_token %}
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Author</label>
                  <div class="col-sm-10">
                    <input type="text" name = "user" readonly class="form-control" id="staticEmail" value={{user.username}} >
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Title</label>
                  <div class="col-sm-10">
                      <input type="text"  readonly class="form-control" id="staticEmail" name='title' value={{stud.title}}>
                  </div>
                </div>
                <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Text</label>
                    <div class="col-sm-10">
                    <textarea name="story" readonly rows="8" cols="80" class='form-control' id='story' >{{stud.story}}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                      <input type="submit" name="" class='btn btn-primary'value="Publish">
                    </div>
                </div>
              </form>
            </li>

          <hr>
            {% endfor %}
          </ol>


          </div>

        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


  </body>
</html>
