{% extends "website/index.html" %}
{% load static %}

{% block content %}

<div class="text"  id='hm-text'>
  <div id="hm-wel1">
    <h3 class='hm-welcome'>Welcome!</h3>

  </div>
  <div id="hm-pl1">
    <h5 class='hm-place'>A Place for all the beautiful minds</h5>
  </div>
  <div id="hm-imgg1">
      <img class='hm-img1'src="{% static 'img/52512.jpg' %}" id='stud' >
  </div>

</div>
<br>
    <div class="hm-star">
      <h2>Strategy -</h2>
      <h2>Design -</h2>
      <h2>Devolopment</h2>
    </div>
    <br>
    <br>
    <div class="jumbotron hm-jmb">

      <p>Life is joyful with the presence of art. It holds a significant place in our lives.It provides us with the knowledge about our surroundings. It is so powerful that it can make us smile or cry, love or hate, be glad or be worried.</p>

    </div>
<div class="hm-what">
  <div class="jumbotron" style='margin-top:5px;'>
    <h1 class='hm-so'>So, What do you need to join a Club?</h1>
  </div>

  <h2 class='hm-all'>All you need is </h2>
  <h1 class='hm-int'>INTREST </h1>
  <p class='hm-new'> to try Something New!</p>


</div>




{% endblock %}
